build
dist
*.egg
*.gz
*.rpm
*-info
PyPedal/adodb*
PyPedal/tests
PyPedal/tutorial
PyPedal/depgra*
PyPedal/*.pyc
PyPedal/*.out
PyPedal/*.png
PyPedal/*.map
PyPedal/*.kde*
PyPedal/gui
PyPedal/locale
PyPedal/*.bmp
PyPedal/doc/tools
PyPedal/doc/perl

*.egg

*.egg

*.bz2

*.lprof

*.prof

*.log
